@import url('https://fonts.googleapis.com/css2?family=Anton&family=Passion+One&display=swap');


* {
    /*DEFAULT INITIAL SETTING*/
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

body {
    background-color: #BA4C4C;  
}

#logoh2 {
    color: #e4e0e0;
    font-size: 50px;
    font-family: 'Anton', sans-serif;
    font-weight: 900;
    text-align: center;
    margin-top: 10px;
}

#menu {
    background-color: #3f1d1d;
}

header div ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    list-style: none;
}

a {
    text-decoration: none;
    font-family: 'Passion One', sans-serif;
    color: #fff;
    font-size: 25px;
}

.navbar {
    margin: 10px;
}


     

